# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv
venv/
ENV/

# Pycharm Project
.idea/

# Docs Build
docs/build

# Data Folder
data/*
!data/.gitkeep

# Experiments Folder
experiments/*
!experiments/.gitkeep

# Configuration File
config.json
